@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lobster');
area{
	cursor: url('../images/door.png'), auto;
}

#worldmap{
    width: 1360px;
    cursor: url('../images/cursor.png'), auto;
    margin: auto;
}

#des_area{
	font-family: 'Lobster', cursive;
	font-size:  20px;	
	width: 100px;
}

th{
	margin: auto;
	padding: 5px;
	font-family: 'Abril Fatface', cursive;
	font-size: 20px;
}

.btn{
	font-family: sans-serif;
	font-size: 14px;
	background: white;
	cursor: pointer;
	font-weight: 900;
	border-radius: 25px;
}

.btn:hover{
	background: lightblue;
	font-size: 16px;
}
